@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-deco-bold: var(--font-art-deco-bold);
  --font-deco-semibold: var(--font-art-deco-semibold);
  --font-deco-regular: var(--font-art-deco-regular);
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0 auto;
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
}
